@media only screen and (max-width: 992px){
.shop-search{position:absolute !important;top:0;margin:0 !important;right:15px;}
}
@media only screen and (max-width: 768px){
.logo{text-align:center;padding:0 0 10px 0;}
ul.navbar-nav{position:static;background:#5c4439;margin:0;padding:0 10px;}
ul.navbar-nav li a{color:#FFF !important;}
ul.navbar-nav li+li{border-top:1px solid #60b301;}
ul.navbar-nav li ul.dropdown-menu li+li{border-top:0;}
.menu-box{margin:0;}
.navbar-toggle{float:left !important;background:#60b301 !important;}
.shop-search{position:absolute !important;top:8px;margin:0 !important;right:20px;}
}
@media only screen and (max-width: 767px){
.xemthem{position: static;text-align: center;}
}